<div class="content" fxLayoutAlign="center">
  <mat-card class="contact" fxLayout="row" fxLayout.xs="column" fxLayout.lt-md="row"
            fxLayoutAlign="space-between start">
    <div fxHide.xs class="content-left" fxFlex="50" fxFlexAlign="center stretch" fxLayout="column">
      <div fxFill>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d701.943607494967!2d24.93217999191613!3d60.157617338595045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x386798bdac333dc!2sST+Yachting+Club+Oy!5e0!3m2!1sen!2sfi!4v1537361676139"
          style="width: 100%; height: 100%; align-self: center" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="content-right" fxFlex="50" fxFlex.xs="100" fxFill fxLayout="column" fxLayoutAlign="start center">
      <h1 fxFlexAlign="center" class="heading">Contact us</h1>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <div *ngFor="let item of values.items" class="item" fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFill fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <div class="action-icon">
              <mat-icon (click)="openLink(item.link)"inline [svgIcon]="item.name"></mat-icon>
            </div>
            <div fxLayout="column">
              <div class="action-heading">{{item.name}}</div>
              <div class="action-content">{{item.tag}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
