.content {
  margin: -80px 0;
  padding: 40px 30px;
}

.card {
  max-width: 800px;
  padding: 0;
}

.about-content {
  padding: 16px;
}

.titlebar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.image {
  max-width: 256px;
  max-height: 256px;

  @media screen and (max-width: 768px){
    max-width: 192px;
    max-height: 192px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

h1 {
  font-weight: bold;
}

.write {
  color: #9E9E9E;
  line-height: 1.5;
  word-break: break-word;
}

mat-card {
  border-radius: 10px;
}

.read-more {
  padding: 5px 30px;
}

.google-maps {
  height: 100%;
}
