<div class="header" fxLayout="row" fxLayoutAlign="center center">
  <div class="header-content" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div fxFlex class="background-up"></div>
    <div class="border">
      <h3>A new beginning</h3>
      <div><span class="start">Neo</span><span class="ending">Health</span></div>
      <h3>For your skin</h3>
    </div>
    <div fxFlex class="background-down"></div>
  </div>
</div>
